package: bingwallpaper
version: 2.0.1
architecture: all
Maintainer: IMEVER <Hobart_Tian@imever.me>
description: It is an app for you to auto change desktop
 wallpaper with image downloading from www.bing.com
Section: base
Priority: optional
Installed-Size:31.7KB
depends:python,python-qt4,libqt4-sql-sqlite
